<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput name="search" placeholder="Movie name" [(ngModel)]="search">
  </mat-form-field>
  <br>
  <button type="button" mat-raised-button color="primary" (click)="onSearchClick()">Search</button>
</form>

<div *ngIf="data" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px">
  <mat-card fxFlex.sm="calc(50% - 20px)" fxFlex="calc(25% - 20px)" class="example-card" *ngFor="let item of data.Search">
    <mat-card-header>
      <mat-card-title>{{item.Title}}</mat-card-title>
      <mat-card-subtitle>{{item.Year}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{item.Poster}}" alt="{{item.Title}}">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>