#image {
    width: 400px;
    height: 400px;
    position: relative;
    /* background-image: url(https://i.ytimg.com/vi/YCaGYUIfdy4/maxresdefault.jpg); */
}

#image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foreground {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.foreground:hover {
    opacity: 1;
    transition: 0.5s;
}

/* body {
    margin: 0;
    height: 2000px;
    background-image: linear-gradient(red, yellow);
}

#div1 {
    width: 100px;
    height: 100px;
    background: blue;
    position: relative;
    top: 100px;
    left: 100px;
    /* right: 0; */
    /* bottom: 0; */
}

#div2 {
    width: 100px;
    height: 100px;
    background: green;
    position: relative;
    top: 100px;
    left: 100px;
    /* right: 0; */
    /* bottom: 0; */
}

#div2 div {
    width: 25px;
    height: 25px;
    background: yellow;
} */