body {
  background: #768d0c;
  color: white;
  font-size: 50px;
}

@media (max-width: 600px) {
  body {
    background: red;
  }
}

body h1 {
  color: white;
  font-family: 'Segoe UI';
  font-size: 50px;
  text-decoration: underline;
}

body ul li {
  color: white;
  font-family: 'Segoe UI';
  font-size: 50px;
  text-decoration: underline;
  font-size: 20px;
}

.box {
  height: 100px;
  width: 100px;
}

#box1 {
  background: #ffea00;
}

#box2 {
  height: 182px;
  background: #c2b200;
}

#box3 {
  background: #998c00;
}
/*# sourceMappingURL=style.css.map */