$color: green
$size: 50px
$yellow: #ffea00;

=customFont
    color: white
    font-family: 'Segoe UI'
    font-size: 50px
    text-decoration: underline

body 
    background: rgb(random(255), random(255), random(255))
    color: white
    font-size: $size

    @media (max-width: 600px)
        background: red

    h1 
        +customFont

    ul li 
        +customFont
        font-size: 20px
    
.box
    height: 100px
    width: 100px

#box1
    background: $yellow;
    
#box2
    height: random(300) + px;
    background: darken($yellow, random(100))

#box3
    background: darken($yellow, 20)
