body {
    margin: 0;
}

.main {
    width: 1000px;
    margin: 20px auto;
}

header {
    height: 200px;
    background-color: blueviolet;
    color: white;
    font-size: 50px;
    border-top: 1px solid transparent;
}

header img {
    margin: 20px;
}

nav {
    height: 50px;
    background: yellowgreen;
    padding: 15px;
    box-sizing: border-box;
}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
}

aside {
    /* min-height: 200px; */
    width: 200px;
    height: 500px;
    background: cyan; 
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

main {
    width: 600px;
    height: 500px;
    background: whitesmoke;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

footer {
    height: 100px;
    background-color: magenta;
    margin-top: -4px;
}

#img1 {
    margin-left: 15px;
    margin-top: 20px;
    /* display: inline-block; */
    vertical-align: top;
}



#img2 {
    margin-left: 15px;
    margin-top: 10px;
    /* display: inline-block; */
    vertical-align: top;
}