#div1 {
    width: 200px;
    height: 200px;
    background: red;
}

#div1 > div {
    width: 50%;
    height: 50%;
    background: blue;
} 

#div1 > div > div {
    width: 50%;
    height: 50%;
    background: green;
}

/* div, p {
    border: 1px solid red;
} */

div.test {
    border: 1px solid red;
}

p {
    background: white;
}

.testClass {
    background: yellow;
}

#body #testId {
    background: cyan;
}

#testId {
    background: blue;
}

#testId ~ p  {
    color: aquamarine;
}

[target] {
    font-size: 50px;
}