.container {
  display: -ms-grid;
  display: grid;
  grid: 200px 200px 200px / 1fr 1fr 1fr;
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
  grid-auto-flow: row;
  grid-gap: 10px;
}

.container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 50px;
}

.item1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.item1 {
  background: #55f68d;
}

.item2 {
  background: #e3bb42;
}

.item3 {
  background: #bab5ed;
}

.item4 {
  background: #200863;
}

.item5 {
  background: #e2c75c;
}

.item6 {
  background: #8af96a;
}

.item7 {
  background: #7c965b;
}

.item8 {
  background: #2b768d;
}

.item9 {
  background: #905dc7;
}
/*# sourceMappingURL=style.css.map */