// .container 
//     // width: 1000px;
//     // height: 1000px;
//     display: grid
//     // grid-template-columns: 200px 200px 200px
//     // grid-template-rows: 100px 200px 300px
//     grid: 200px 200px 200px / 1fr 1fr 1fr
//     grid-auto-rows: 100px
//     grid-auto-columns: 100px
//     grid-auto-flow: row
//     // grid-column-gap: 10px
//     // grid-row-gap: 20px
//     grid-gap: 10px
//     // align-items: center
//     // justify-items: center
//     // place-items: center
//     // align-content: space-between 
//     // justify-content: space-between
//     // place-content: center

//     div
//         display: flex
//         align-items: center
//         justify-content: center
//         color: white
//         font-size: 50px
//         // width: 70px
//         // height: 70px

// .item1 
//     // grid-column-start: 1
//     // grid-column-end: 3
//     grid-column: 1 / 3
//     grid-row: 1 / 3 

// @for $i from 1 through 9
//   .item#{$i}
//     background: rgb(random(255),random(255),random(255))
    
.container 
    // width: 1000px;
    // height: 1000px;
    display: grid
    // grid-template-columns: 200px 200px 200px
    // grid-template-rows: 100px 200px 300px
    grid: 200px 200px 200px / 1fr 1fr 1fr
    grid-auto-rows: 100px
    grid-auto-columns: 100px
    grid-auto-flow: row
    // grid-column-gap: 10px
    // grid-row-gap: 20px
    grid-gap: 10px
    // align-items: center
    // justify-items: center
    // place-items: center
    // align-content: space-between 
    // justify-content: space-between
    // place-content: center

    div
        display: flex
        align-items: center
        justify-content: center
        color: white
        font-size: 50px
        // width: 70px
        // height: 70px

.item1 
    // grid-column-start: 1
    // grid-column-end: 3
    grid-column: 2 / 4
    grid-row: 1 / 2 

@for $i from 1 through 9
  .item#{$i}
    background: rgb(random(255),random(255),random(255))