<div class="jumbotron" *ngIf="contact">
    <h1 class="display-4">{{contact.surname}}</h1>
    <p class="lead">{{contact.name}}</p>
    <hr class="my-4">
    <p><i class="fas fa-phone"></i> {{contact.phone || 'none'}}</p>
    <p><i class="fas fa-envelope"></i> {{contact.email || 'none'}}</p>
    <a class="btn btn-primary btn-lg" routerLink="/list" role="button">Back</a>
</div>