<!-- <app-list></app-list>
<app-logger></app-logger>
<mat-checkbox>Check me!</mat-checkbox>
<div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div> -->
<app-moovie-search></app-moovie-search>