body {
    margin: 0;
}

div {
    margin: 10px 20px 30px 40px;
    padding: 10px;
    /* margin-right: -4px; */
    display: inline-block;
    width: 33.3% !important;
    box-sizing: border-box;

    /* border: 1px solid black; */
    border-color: tomato;
    border-width: 2px;
    border-style: dashed;

    border-radius: 100%;

    text-align: center;
}

#div1 {
    color: blue;
    background-color: rgba(255, 0, 0, 0.5);
    height: 100px;
    width: 100px;
}

#div2 {
    color: blue;
    background-color: green;
    height: 100px;
    width: 100px;
}

#div3 {
    color: yellow;
    background-color: Blue;
    height: 100px;
    width: 100px;
}

/* element -> class -> id -> inline style */

/* p {
    display: inline
}

a {
    display: block
} */

/* a {
    display: none
    visibility: hidden;
} */