body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#box {
  position: absolute;
  width: 100px;
  height: 100px;
  background: red;
  transition: 0.2s;
  animation-timing-function: linear;
  border-radius: 50px;
}

.point {
  position: absolute;
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 10px;
  transition: 0.5s;
  animation-timing-function: linear;
}
/*# sourceMappingURL=style.css.map */