body {
    background-image: url(http://abcgomel.ru/solana/images/sliders/slider-1/slider-bg-1.jpg);
    background-color: lightgrey;
    background-repeat: no-repeat;
}

#container {
    /* width: 1000px; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    min-width: 600px;
    max-width: 1000px;
}

header {
    background: rebeccapurple;
    height: 150px;
    width: 100%;
}

nav {
    background: lightcoral;
    height: 50px;
    width: 100%;
    display: flex;
    font-size: 25px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
}

nav a {
    padding: 0 15px;
    height: 100%;
    align-items: center;
    display: flex;
    background: #414146;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav a:hover {
    background: #ffea00;
    color: #414146;
    transition: 0.3s;
}

aside {
    background: tomato;
    height: 500px;
    width: 20%;
}

main {
    background: whitesmoke;
    height: 500px;
    width: 60%;
}

footer {
    background: blueviolet;
    width: 100%;
    height: 100px;
}