#div1 {
    width: 200px;
    height: 200px;
    /* background: red; */
    background-image: url(https://i.ytimg.com/vi/YCaGYUIfdy4/maxresdefault.jpg);
    background-position: center;
    background-size: cover;
    /* background-image: linear-gradient(35deg, red, yellow, black); */

    box-shadow: 25px 28px 132px -21px rgba(0,0,0,0.75);
}

#div1:hover {
    /* transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.5s;*/
    transition-property: all;
    transition: 2s ease;
    /* transform: translate(400px, 0px); */
    /* background: blueviolet; */
    filter: blur(4px);
    /* background-image: linear-gradient(green, blue, magenta); */
}
