<h1>Add contact</h1>
<form (submit)="onSubmit()" #form="ngForm">
  <div class="form-group">
    <label for="contactName">Name</label>
    <input 
      type="text" 
      required 
      maxlength="50" 
      name="name" 
      #name="ngModel" 
      [(ngModel)]="contact.name" 
      class="form-control"
      id="contactName" 
      placeholder="Enter name"
      [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
    <div *ngIf="name.errors && name.errors.required" class="invalid-feedback">Name is required</div>
    <div *ngIf="name.errors && name.errors.maxlength" class="invalid-feedback">Name length can't be more than 50 symbols</div>
  </div>
  <div class="form-group">
    <label for="contactSurname">Surname</label>
    <input 
      type="text" 
      maxlength="50" 
      name="surname" 
      [(ngModel)]="contact.surname" 
      class="form-control" 
      id="contactSurname"
      placeholder="Enter surname"
      #surname="ngModel"
      [class.is-invalid]="surname.invalid && (surname.dirty || surname.touched)">
      <div *ngIf="surname.errors && surname.errors.maxlength" class="invalid-feedback">Surname length can't be more than 50 symbols</div>
  </div>
  <div class="form-group">
    <label for="contactPhone">Phone</label>
    <input 
      type="text" 
      required 
      name="phone"
      [(ngModel)]="contact.phone" 
      class="form-control" 
      id="contactPhone"
      placeholder="Enter phone"
      #phone="ngModel"
      [class.is-invalid]="phone.invalid && (phone.dirty || phone.touched)">
      <div *ngIf="phone.errors && phone.errors.required" class="invalid-feedback">Phone is required</div>
  </div>
  <div class="form-group">
    <label for="contactEmail">Email</label>
    <input 
      type="email" 
      name="email" 
      [(ngModel)]="contact.email" 
      class="form-control" 
      id="contactEmail" 
      placeholder="Enter email"
      #email="ngModel"
      [class.is-invalid]="email.invalid && (email.dirty || email.touched)">
  </div>
  <div class="text-right">
    <a routerLink="/list" class="btn">Cancel</a>
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Add</button>
  </div>
</form>