<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">ContactsApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="list">List</a>
            <a class="nav-item nav-link" routerLink="add">Add</a>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <router-outlet></router-outlet>
    <!-- <app-add></app-add>
    <app-list></app-list> -->
</div>
