// $body-bg: #000;
// $body-color: #111;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;

$theme-colors: (
  "light": #f7f7f7
);

@import "scss/bootstrap";

@media (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, sm)){
    .row > .col,
    .row > [class*="col-"] {
      padding-right: 0px;
      padding-left: 0px;
    }
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.fullsize-block {
    height: 400px;
    img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
}