body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50px;
}
/*# sourceMappingURL=style.css.map */