#div {
    padding: 20px;
    background: red;

    p {
        padding: 10px;
        background: white;

        b {
            padding: 5px;
            background: blue;
            color: white;
        }
    }
}

.box {
    width: 50px;
    height: 50px;
    background: red;
    border: 1px white solid;

    &[data-click] {
        background: darkred;
    }
}