#div {
  padding: 20px;
  background: red;
}

#div p {
  padding: 10px;
  background: white;
}

#div p b {
  padding: 5px;
  background: blue;
  color: white;
}

.box {
  width: 50px;
  height: 50px;
  background: red;
  border: 1px white solid;
}

.box[data-click] {
  background: darkred;
}
/*# sourceMappingURL=style.css.map */