﻿@model IEnumerable<Product>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
            <a class="btn btn-primary my-2" asp-action="Products">Products</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
        @if (TempData.ContainsKey("Message"))
        {
            <div class="alert alert-success" role="alert">
                @TempData["Message"]
            </div>
        }
    </div>
    @*<h1>@ViewBag.Name</h1>
    <h2>@ViewData["Surname"]</h2>*@
    @*<h3>@TempData["Message"]</h3>*@
    @*<p>@Model.Cart.Count()</p>*@
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                @Html.Partial("ProductCard", item)
            }
        </div>
    </div>
</div>
