﻿<div class="container mt-5">
    <form asp-action="AddProduct" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="inputName">Name:</label>
            <input type="text" name="Name" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="inputPrice">Price:</label>
            <input type="number" name="Price" class="form-control" id="inputPrice" placeholder="Price">
        </div>
        <div class="form-group">
            <label for="inputDesc">Description:</label>
            <textarea name="Description" class="form-control" id="inputDesc" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <input type="file" class="btn btn-primary" name="image" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
