<h2>Tasks: {{tasks.length}}</h2>
<ul>
    <li 
      *ngFor="let item of tasks" 
      [class.selected]="item == selectedTask"
      (click)="onTaskClick(item)"
      class="item">{{item.name}}</li>
</ul>

<app-details [task]="selectedTask"></app-details>