body {
    background: magenta;
}

nav {
    background: #414146;
    height: 50px;
}

nav > ul {
    color: white;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    font-weight: lighter;
}

nav > ul > li {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.sub-menu {
    position: absolute;
    background: #414146;
    left: 0;
    padding: 0;
    list-style: none;
    top: 50px;  
    /* opacity: 0; */
    height: 0;
    overflow: hidden;
}

.sub-menu > li {
    padding: 5px 10px;
    
}

nav > ul > li:hover {
    background: #ffea00;
    color: #414146;
    transition: 0.5s;
}

.item:hover > .sub-menu {
    color: white;
    width: 200px;
    transition: 0.5s;
    height: 150px;
    /* opacity: 1; */
}

.item > .sub-menu > li:hover {
    background: #ffea00;
    color: #414146;
}

