<h1>Contact list</h1>
<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6 p-2" *ngFor="let item of contacts | async">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{item.surname}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{item.name}}</h6>
        <ul class="list-group list-group-flush mb-4">
          <li class="list-group-item px-0"><i class="fas fa-phone pr-2"></i> {{item.phone || 'none'}}</li>
          <li class="list-group-item px-0"><i class="fas fa-envelope pr-2"></i> {{item.email || 'none'}}</li>
        </ul>
        <a routerLink="/details/{{item.id}}" class="btn btn-success mr-2"><i class="fas fa-info px-1"></i></a>
        <a routerLink="/edit/{{item.id}}" class="btn btn-primary mr-2"><i class="fas fa-edit"></i></a>
        <button (click)="onDelete(item.id)" class="btn btn-danger mr-2"><i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
</div>
<app-dialog #deleteDialog [title]="'Delete contact'" [text]="'Are you sure you want to delete contact?'" (result)="onDialogResult($event)" ></app-dialog>