.container 
    display: grid 
    grid: 150px 50px 300px 150px / 1fr 3fr 1fr
    grid-template-areas: 'header header header' 'nav nav nav' 'aside1 main aside2' 'footer footer footer'

    *
        display: flex
        align-items: center
        justify-content: center
        color: white
        font-size: 50px

    header 
        grid-area: header    
    nav 
        grid-area: nav    
    .aside1
        grid-area: aside1    
    main
        grid-area: main   
    .aside2
        grid-area: aside2   
    footer
        grid-area: footer

    @media (max-width: 600px)
        grid: 150px 50px 100px 300px 100px 150px / 1fr
        grid-template-areas: 'header' 'nav' 'aside1' 'main' 'aside2' 'footer'

@for $i from 1 through 9
  .item#{$i}
    background: rgb(random(255),random(255),random(255))
    

    
    
    
// .container 
//     display: grid 
//     grid: 150px 50px 300px 150px / 1fr 3fr 1fr

//     *
//         display: flex
//         align-items: center
//         justify-content: center
//         color: white
//         font-size: 50px

//     header 
//         grid-row: 1 / 2
//         grid-column: 1 / 4
    
//     nav 
//         grid-row: 2 / 3
//         grid-column: 1 / 4

//     .aside1
//         grid-row: 3 / 4
//         grid-column: 1 / 2

//     main
//         grid-row: 3 / 4
//         grid-column: 2 / 3

//     .aside2
//         grid-row: 3 / 4
//         grid-column: 3 / 4

//     footer
//         grid-row: 4 / 5
//         grid-column: 1 / 4

//     @media (max-width: 600px)
//         grid: 150px 50px 100px 300px 100px 150px / 1fr
//         *
//             grid-row: auto !important
//             grid-column: auto !important

// @for $i from 1 through 9
//   .item#{$i}
//     background: rgb(random(255),random(255),random(255))