.container {
  display: -ms-grid;
  display: grid;
  grid: 150px 50px 300px 150px / 1fr 3fr 1fr;
  grid-template-areas: 
    'header header header' 
    'nav nav nav'
    'aside1 main aside2' 
    'footer footer footer';
}

.container * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 50px;
}

.container header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.container nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
}

.container .aside1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: aside1;
}

.container main {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: main;
}

.container .aside2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: aside2;
}

.container footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

@media (max-width: 600px) {
  .container {
    grid: 150px 50px 100px 300px 100px 150px / 1fr;
        grid-template-areas: 'header' 'nav' 'aside1' 'main' 'aside2' 'footer';
  }
}

.item1 {
  background: #97dba1;
}

.item2 {
  background: #aa5e54;
}

.item3 {
  background: #b107f7;
}

.item4 {
  background: #428991;
}

.item5 {
  background: #687fe6;
}

.item6 {
  background: #802bec;
}

.item7 {
  background: #f5760e;
}

.item8 {
  background: #345393;
}

.item9 {
  background: #750eb7;
}
/*# sourceMappingURL=style.css.map */