.container {
    width: 1000px;
    margin: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background: #414146;
    height: 80px;
}

.logo {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.logo img {
    width: 100px;
}

.menu {
    width: 730px;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    color: white;
    font-size: 30px;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.menu ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.search {
    display: flex;
}

.search div {
    background: #565a60;
    width: 120px;
    height: 80px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    nav {
        height: auto;
    }

    .menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        justify-content: flex-end;
        width: 100%;
    }
}