<h1>Edit contact</h1>
<form (submit)="onSubmit()" *ngIf="contact">
  <div class="form-group">
    <label for="contactName">Name</label>
    <input type="text" name="name" [(ngModel)]="contact.name" class="form-control" id="contactName" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="contactSurname">Surname</label>
    <input type="text" name="surname" [(ngModel)]="contact.surname" class="form-control" id="contactSurname" placeholder="Enter surname">
  </div>
  <div class="form-group">
    <label for="contactPhone">Phone</label>
    <input type="text" name="phone" [(ngModel)]="contact.phone" class="form-control" id="contactPhone" placeholder="Enter phone">
  </div>
  <div class="form-group">
    <label for="contactEmail">Email</label>
    <input type="email" name="email" [(ngModel)]="contact.email" class="form-control" id="contactEmail" placeholder="Enter email">
  </div>
  <div class="text-right">
    <a class="btn" routerLink="/list">Cancel</a>
    <button type="submit" class="btn btn-primary">Edit</button>
  </div>
</form>
