.container {
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 33.3%;
    height: 100px;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

@media (max-width: 600px) {
    .block {
        width: 100%;
    }
}