﻿@model IEnumerable<CartItemViewModel>

<form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#shopModal">Cart Items: @Model.Sum(x => x.Count)</button>
</form>