// $body-bg: black;
$enable-rounded: false;

// $theme-colors: (
//   "primary": tomato,
//   "secondary": black
// );

@import "scss/bootstrap";

.fullsize-block {
    height: 400px;
    img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 5%;
    }
}

.container-fluid {
    margin-top: 80px;
}

// footer ul {
//     width: 100px;
// }