<div class="container my-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of profiles">
        <td>{{item.username}}</td>
        <td>{{item.name}}</td>
        <td>{{item.surname}}</td>
      </tr>
    </tbody>
  </table>
</div>