#flex {
    display: flex;
    background: red;
    height: 300px;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

#flex div {
    background: blue;
    height: 100px;
    width: 100px;
    color: white;
    font-size: 40px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}