body {
  margin: 0;
}

.box {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.box:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes move {
  0% {
    background: red;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    background: green;
    -webkit-transform: translate(calc(100vw - 100px), 0px) rotate(90deg);
            transform: translate(calc(100vw - 100px), 0px) rotate(90deg);
  }
  50% {
    background: blue;
    -webkit-transform: translate(calc(100vw - 100px), calc(100vh - 100px)) rotate(180deg);
            transform: translate(calc(100vw - 100px), calc(100vh - 100px)) rotate(180deg);
  }
  75% {
    background: yellow;
    -webkit-transform: translate(0, calc(100vh - 100px)) rotate(90deg);
            transform: translate(0, calc(100vh - 100px)) rotate(90deg);
  }
}

@keyframes move {
  0% {
    background: red;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    background: green;
    -webkit-transform: translate(calc(100vw - 100px), 0px) rotate(90deg);
            transform: translate(calc(100vw - 100px), 0px) rotate(90deg);
  }
  50% {
    background: blue;
    -webkit-transform: translate(calc(100vw - 100px), calc(100vh - 100px)) rotate(180deg);
            transform: translate(calc(100vw - 100px), calc(100vh - 100px)) rotate(180deg);
  }
  75% {
    background: yellow;
    -webkit-transform: translate(0, calc(100vh - 100px)) rotate(90deg);
            transform: translate(0, calc(100vh - 100px)) rotate(90deg);
  }
}

@-webkit-keyframes resize {
  from {
    background: red;
    width: 100px;
  }
  to {
    background: blue;
    width: 500px;
  }
}

@keyframes resize {
  from {
    background: red;
    width: 100px;
  }
  to {
    background: blue;
    width: 500px;
  }
}
/*# sourceMappingURL=style.css.map */