body {
    margin: 0;
}

.box {
    width: 100px;
    height: 100px;
    background: red;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    // animation-direction: alternate;
    // animation-delay: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: running;
    &:hover {
        animation-play-state: paused;
    }
}

@keyframes move {
    0% {
        background: red;
        transform: translate(0px, 0px);
    }
    25% {
        background: green;
        transform: 
            translate(calc(100vw - 100px), 0px)
            rotate(90deg);
    }
    50% {
        background: blue;
        transform: 
            translate(calc(100vw - 100px), calc(100vh - 100px))
            rotate(180deg);
    }
    75% {
        background: yellow;
        transform: 
            translate(0, calc(100vh - 100px))
            rotate(90deg);
    }
}

// @keyframes move {
//     0% {
//         background: red;
//         top: 0px;
//         left: 0px;
//     }
//     25% {
//         background: green;
//         top: 0px;
//         left: calc(100vw - 100px);
//     }
//     50% {
//         background: blue;
//         top: calc(100vh - 100px);
//         left: calc(100vw - 100px);
//     }
//     75% {
//         background: yellow;
//         top: calc(100vh - 100px);
//         left: 0px;
//     }
// }

@keyframes resize {
    from {
        background: red;
        width: 100px;
    }
    to {
        background: blue;
        width: 500px;
    }
}