﻿@model Product

<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        @if (@Model.ImagePath == null)
        {
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
        }
        else
        {
            <img class="card-img-top" src="@Model.ImagePath" height="225" style="object-fit:cover" alt="Card image cap">
        }
        <div class="card-body">
            <h5 class="card-title" title="@Model.Name" data-toggle="tooltip" data-placement="top">@Model.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Price</h6>
            <p class="card-text multi-truncate">@Model.Description</p>
            <a class="btn btn-primary" asp-action="AddToCart" asp-route-id="@Model.Id">Add to cart</a>
            <a class="btn btn-danger" asp-action="RemoveProduct" asp-route-id="@Model.Id">Remove</a>
            @*<form asp-controller="Home" method="post">
                <input type="number" name="id" value="@Model.Id" hidden />
                <button class="btn btn-primary" asp-action="AddToCart">Add to cart</button>
                <button class="btn btn-danger" asp-action="RemoveProduct">Remove</button>
            </form>*@
        </div>
    </div>
</div>